langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.61
langchain-text-splitters==0.3.8
langchain-huggingface==0.2.0
llama-cpp-python==0.2.77
huggingface-hub==0.32.2
langchain-chroma==0.2.4
chromadb==1.0.10
unstructured==0.17.2
python-telegram-bot==22.11
sentence-transformer==4.1.0